* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.grid-container {
	border: 1px solid salmon;
	width: 500px;
	height: 500px;
	margin-left: 100px;
	display: flex;
	flex-wrap: wrap;
}


.grid-item {
	/*border: 1px solid rgb(189, 189, 189);*/
	flex: 1;
	/*opacity: var(--grid_opacity, 0);*/
}
